{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой Гомель{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=39d1f86b-cf75-4cea-ae21-9a1373cb163f&lang=ru_RU" type="text/javascript"></script>

    {% block extra_css %}{% endblock %}
</head>

<body>
    <div class="container">
        {% include 'general/header.html' %}
        {% block content %}{% endblock %}
    </div>

    {% include 'general/footer.html' %}
</body>

</html>
