{% load static %}

<footer>
    <div class="main-footer">
        <div class="links">
            <a href="{% url 'murals' %}">Муралы</a>
            <a href="{% url 'before_after_list' %}">Гомель до/после</a>
            <a href="{% static 'general/html/history.html' %}">История</a>
            <a href="{% url 'news_list' %}">Блог</a>
            <a href="{% static 'general/html/college.html' %}">Колледж</a>
        </div>
        <div class="contacts">
            <p>info@blagobyt.by<br>+375 (29) 123-45-67</p>
            {% comment %} <div class="socials">
                <img src="{% static 'general/img/social/telegram.svg' %}" alt="telegram">
                <img src="{% static 'general/img/social/instagram.svg' %}" alt="instagram">
                <img src="{% static 'general/img/social/youtube.svg' %}" alt="youtube">
            </div> {% endcomment %}
        </div>
    </div>
    <div class="copyright">© 2025 Благоустройство Беларуси.</div>
</footer>
